#initial, #step {
    width: 50px;
    margin-bottom: 10px
}
#tstart {
    width: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
#inputs {
    display: flex;
    flex-direction: column;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
